doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header HEADER
        nav.nav NAVBAR

    .content
      block content

    footer
      block footer
        p &copy; The Retail Apocalypse

    block scripts
          script(src="/dist/App.bundle.js")
