doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    block header
      header HEADER
        nav.nav NAVBAR

    .content
      block content

    footer
      block footer
        p &copy; The Retail Apocalypse

    block scripts
<<<<<<< HEAD
  script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
=======
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
>>>>>>> bfef9b061c607ab52234fc179296636ecf0a1898
      script(src="/dist/App.bundle.js")
