doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //type="text/javascript"
  body
    block header
      header HEADER
        nav.nav NAVBAR

    .content
      block content

    footer
      block footer
        p &copy; The Retail Apocalypse

    block scripts
			script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="/dist/App.bundle.js")
