//- Created _forgotPassword.pug
mixin forgotPasswordForm()
  form.form(action="/account/forgot" class="card" method="POST")
    h2 I forgot my password
    label(for="email") Email
    input(type="email" name="email")
    input.button(type="submit" value="Send a Reset")
