.card {
  // update this line
  padding: 5rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}
pre.error {
  padding: 5rem;
  // background: $white;
  line-height: 3;
  white-space: pre-line;
}

.button {
  border: 0;
  background: $danger-red;
  color: $black;
  font-family: 'Hamurz';
  font-weight: 600;
  font-size: 3rem; /* update this line */
}
