body {
<<<<<<< HEAD
  /* The image used */
  // background-image: url('../images/rust.svg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav__item {
  list-style-type: none;
  display: inline;
  float: right;
  padding: 10px 20px 10px 20px;
  margin: 5px;
}

.top {
  // background-image: url('../images/retailapocalypse-final-WHITE.svg');
=======
>>>>>>> f51d3ce1d14dea0d07ddcb3e9a205e3776f2b32a
}
