body {
  background-color: $danger-orange;
}

@font-face {
  src: url("/fonts/hamurz_free_version-webfont.otf") format("otf");
  src: url("/fonts/hamurz_free_version-webfont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
.nav__item {
  list-style-type: none;
  display: inline;
  float: right;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  margin-bottom: 10px;
}

.top {
  background-image: image('../images/retail_white.svg');
}

.inner h2 {
  margin-bottom: 10px;
}
