@font-face {
    font-family: 'hamurz';
    src: url('/fonts/hamurz_free_version-webfont.woff2') format('woff2'),
         url('/fonts/hamurz_free_version-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  font-size:10px;
}

body {
  font-size:1.5rem;
  color: $white;
}

h1, h2, h3, h4, h5, h6, {
  font-family: 'Hamurz';
  font-size: 5rem;
  font-weight: 600;
  letter-spacing:-1px;
}

a {
  color:$black;
  text-decoration: none;
}

p a {
  border-bottom: 2px solid $danger-yellow;
}

p {
  font-size: 1.6rem;
  line-height: 2;
}

.title {
  position: relative;
  z-index: 2;

  font-size: 4rem;
  line-height:1.1;
  margin:0;
  transform: skew(0, -3deg);
  word-wrap: break-word;

  &--long {
    font-size: 3rem;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    content: '';
    display: block;
    height: 100%;
    transform: skew(-5deg);
    width: 50px;
  }

  a {
      background-color: $yellow-alpha;
      color: $black;
      padding: 40px;
      border-bottom: 0;
  }
}

.title--single {
  max-width: 600px;
  margin-top: -9rem;
  font-size: 10rem;
  text-align: center;
}

